In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
df=pd.read_csv('train.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):

        if Pclass == 1:
            return 37

        elif Pclass == 2:
            return 29

        else:
            return 24

    else:
        return Age

In [18]:


def clean(df):
    
    df['Age'] = df[['Age','Pclass']].apply(impute_age,axis=1)
    cols=['SibSp','Parch','Fare']
    for col in cols:
        df[col].fillna(df[col].median(),inplace=True)

    df.Embarked.fillna("U",inplace=True)
    embark=pd.get_dummies(df['Embarked'],drop_first=True)
    sex=pd.get_dummies(df['Sex'],drop_first=True)
    df=pd.concat([df,sex,embark],axis=1)
    
    return df

df=clean(df)

df=df.drop(['Ticket','Cabin','Name','PassengerId','Sex','Fare','Embarked'],axis=1)

In [19]:
df.head()

   Survived  Pclass   Age  SibSp  Parch  male  Q  S  U
0         0       3  22.0      1      0     1  0  1  0
1         1       1  38.0      1      0     0  0  0  0
2         1       3  26.0      0      0     0  0  1  0
3         1       1  35.0      1      0     0  0  1  0
4         0       3  35.0      0      0     1  0  1  0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   male      891 non-null    uint8
 6   Q         891 non-null    uint8
 7   S         891 non-null    uint8
 8   U         891 non-null    uint8
dtypes: float64(1), int64(4), uint8(4)
memory usage: 38.4 KB

In [21]:
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split

X=df.drop("Survived",axis=1)
y=df["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [22]:
lr=LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

In [23]:
prediction=lr.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,prediction)

0.8161434977578476

In [24]:
dat=[[1,25,0,0,0,0,1,0]]
lr.predict(dat)

c:\Users\SHRIRAM\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [25]:
dat=[[1,23,1,0,1,0,1,0]]
lr.predict(dat)

c:\Users\SHRIRAM\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)